# 数据处理

## 导入数据及展示

In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("./input/视频会员订单数据源.csv")
data.head(5)

,order_id,user_id,price,platform,payment_provider,create_time,pay_time
0,1,105654733,24800,ios,applepay,2020/4/2 16:50,2020/4/2 16:46
1,2,47292399,24800,android,NaN,2020/4/5 16:17,2020/4/5 16:18
2,3,97811248,6800,android,NaN,2019/12/5 16:42,2019/12/5 16:42
3,4,106005331,6800,ios,wxpay,2019/11/22 10:06,2019/11/22 10:06
4,5,106005331,6800,ios,wxpay,2020/5/24 6:34,2020/5/24 6:34

In [12]:
data.isnull().sum()

order_id              0
user_id               0
price                 0
platform            404
payment_provider     22
create_time           0
pay_time              0
dtype: int64

## 常用的基础操作

### 同时展示多列数据

In [13]:
# 同时展示order_id 和 user_id两列
data[['order_id','user_id']].head(3)
# 注意是两个[]

   order_id    user_id
0         1  105654733
1         2   47292399
2         3   97811248

### 索引

#### 查看/输出索引

In [6]:
data.index.to_list()[:5]

[0, 1, 2, 3, 4]

#### 重置索引

### loc的用法

### iloc的用法

### 修改列名、添加列、修改列的位置

### 改变数据类型

In [9]:
# info方法查看数据类型等信息
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78049 entries, 0 to 78048
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          78049 non-null  int64
 1   user_id           78049 non-null  int64
 2   price             78049 non-null  int64
 3   platform          77645 non-null  object
 4   payment_provider  78027 non-null  object
 5   create_time       78049 non-null  object
 6   pay_time          78049 non-null  object
dtypes: int64(3), object(4)
memory usage: 4.2+ MB

In [10]:
# 将price列改成float类型

In [ ]:
# 更改之后
data.info()

### 内置方法等

#### value_counts查看某一列数据情况（异常值）

In [14]:
data.price.value_counts()

24800    35043
2500     31985
6800     11018
100          2
1000         1
Name: price, dtype: int64

#### drop_duplicates去重
**df.drop_duplicates(subset=['A','B','C'],keep='first',inplace=True)**<br/>
subset：表示要进去重的列名，默认为 None<br/>
keep：有三个可选参数，分别是 first、last、False，默认为 first，表示只保留第一次出现的重复项，删除其余重复项<br/>last 表示只保留最后一次出现的重复项，False 则表示删除所有重复项。
inplace：布尔值参数，默认为 False 表示删除重复项后返回一个副本<br/>若为 Ture 则表示直接在原数据上删除重复项。

In [17]:
data.drop_duplicates('platform',keep='first',inplace=False)

,order_id,user_id,price,platform,payment_provider,create_time,pay_time
0,1,105654733,24800,ios,applepay,2020/4/2 16:50,2020/4/2 16:46
1,2,47292399,24800,android,NaN,2020/4/5 16:17,2020/4/5 16:18
154,155,80110092,6800,NaN,alipay,2019/12/18 12:52,2019/12/18 12:53

## 数据融合
数据分析时，经常需要处理来自不同数据源的数据，需要先对此类数据进行合并。数据合并指不同数据集的行或列连接起来。常用到的方法有merge( )、join( )、concat( )

In [3]:
import pandas as pd

### merge

#### 基本用法和参数
pd.merge(left,right,how='inner',on=None,left_on=None,right_on=None,left_index=False,right_index=False,sort=True,suffixes=('_x', '_y'))

|参数|含义说明|
|:------|:--------|
|left和right|参与合并的左侧和右侧DataFrame数据对象|
|how|指定合并方式，合并方式有'inner'、'outer'、'left'、'right'。默认为'inner'|
|on|指定作为连接键的列名，默认为两个DataFrame中相同的列名|
|left_on和right_on|左侧和右侧DataFrame中用作连接的键|
|left_index和right_index|指定是否以索引作为键|
|sort|根据连接键对合并后的数据进行排序，默认为True|
|suffixes|字符串值元组。用于追加到重叠列名后的后缀，默认为('_x','_y')|

##### 合并方式 how参数

###### how='inner'（默认）
* 默认合并相同字段
* 若字段无相同值，必须指定how

In [4]:
# 利用字典构造两个dataframe
df_left = pd.DataFrame({'name':['zhangsan','lisi','zhaowu'],'age':[18,19,20]})
df_right = pd.DataFrame({'name':['zhangsan','lisi','wangliu'],'grade':[100,90,80]})
df_left

       name  age
0  zhangsan   18
1      lisi   19
2    zhaowu   20

In [5]:
df_right

       name  grade
0  zhangsan    100
1      lisi     90
2   wangliu     80

In [8]:
df_merge_inner = pd.merge(df_left,df_right,how='inner')
df_merge_inner
# 两个dataframe都有zhangsan和lisi，这里没有指定on参数，默认用相同的列‘name’进行合并，因此合并之后只显示张三和李四的字段

       name  age  grade
0  zhangsan   18    100
1      lisi   19     90

###### how='outer'
* 无论字段是否相同，合并所有数值，无相应字段填为NaN

In [9]:
df_merge_outer = pd.merge(df_left,df_right,on='name',how='outer')
df_merge_outer
# 所有姓名都保留，zhaowu没有grade列，填为nan；wangliu没有age列，填为nan

       name   age  grade
0  zhangsan  18.0  100.0
1      lisi  19.0   90.0
2    zhaowu  20.0    NaN
3   wangliu   NaN   80.0

###### how = 'right'
保留right表中合并列的所有字段，不管left表；没有的字段为nan

In [10]:
df_merge_right = pd.merge(df_left,df_right,on='name',how='right')
df_merge_right
# wangliu仅存在于right表，zhaowu仅存在于left表，zhaowu被剔除；原表中wangliu无age字段，所以为nan
# how='left'类似

       name   age  grade
0  zhangsan  18.0    100
1      lisi  19.0     90
2   wangliu   NaN     80

##### 指定列合并 on、left_on、right_on参数
* on参数默认为两表相同的字段;

###### lef_on、right_on

In [19]:
df_left1 = pd.DataFrame({'name':['zhangsan','lisi','zhaowu'],'age':[18,19,20]})
df_right1 = pd.DataFrame({'姓名':['zhangsan','lisi','zhaowu'],'grade':[100,90,80]})

In [20]:
pd.merge(df_left1,df_right1,left_on='name',right_on='姓名')
# left1的参考键为name，left2的参考键为姓名

       name  age        姓名  grade
0  zhangsan   18  zhangsan    100
1      lisi   19      lisi     90
2    zhaowu   20    zhaowu     80

##### left_index和right_index
* left_on,right_on,left_index,right_index直接可以相互组合
* left_on+right_on
* left_on+right_index
* left_index+right_on
* left_index+right_index

In [35]:
df_left2 = pd.DataFrame({'age':[20,21,22]},index=['zhangsan','lisi','wangwu'])
df_right2 = pd.DataFrame({'name':['zhangsan','lisi','wangwu'],'age':[100,90,80]})

In [36]:
# df_left2以index为键，df_ringt2以name为键
pd.merge(df_left2,df_right2,left_index=True,right_on='name')

   age_x      name  age_y
0     20  zhangsan    100
1     21      lisi     90
2     22    wangwu     80

##### sort
根据连接键对合并后的数据进行排序，默认为True
* 使用sort 必须指定on才可以排序

In [81]:
df_left3 = pd.DataFrame({'name':['kyb','gzj','ljt'],'grade':[89,91,87]})
df_right3 = pd.DataFrame({'name':['kyb1','gzj1','ljt1'],'grade':[12,19,9]})

In [84]:
pd.merge(df_left3,df_right3,how='outer',on=['grade','name'],sort='False')
# 指定on 排序

   name  grade
0  ljt1      9
1  kyb1     12
2  gzj1     19
3   ljt     87
4   kyb     89
5   gzj     91

In [85]:
pd.merge(df_left3,df_right3,how='outer',sort='False')
# 没指定on 不排序

   name  grade
0   gzj     91
1  gzj1     19
2   kyb     89
3  kyb1     12
4   ljt     87
5  ljt1      9

##### suffixes
* 字符串值元组。用于追加到重叠列名后的后缀，默认为('_x','_y')

In [86]:
left = pd.DataFrame({'name':['张三','李四','赵五'],'c':[18,20,19]})
right= pd.DataFrame({'姓名':['张三','李四','王六'],'c':[80,70,90]})

In [87]:
pd.merge(left,right,left_on='name',right_on='姓名',suffixes=("_A","_B"))

  name  c_A  姓名  c_B
0   张三   18  张三   80
1   李四   20  李四   70

### concat

#### 基本用法和参数
pd.concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False,
       keys=None, levels=None, names=None, verify_integrity=False)
       
|参数|含义说明|
|:------|:--------|
|objs|series，dataframe或者是panel构成的序列lsit|
|axis|需要合并链接的轴，0是行，1是列，默认是1|
|join|连接的方式 inner，或者outer|
|ignore_index|是否重置索引，默认为False|
|keys|用来区分合并前的数据，默认为None|

#### 默认纵向连接

In [6]:
# 初始化df1
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']})
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [7]:
# 初始化df2
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']})
df2

    A   B   C   D
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

In [11]:
# 纵向连接df1和df2
df_contact = pd.concat([df1,df2],ignore_index=True)  # 参数是一个列表
df_contact

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

#### concat连接3个及以上的dataframe

In [12]:
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                     'B': ['B8', 'B9', 'B10', 'B11'],
                      'C': ['C8', 'C9', 'C10', 'C11'],
                      'D': ['D8', 'D9', 'D10', 'D11']})
df3

     A    B    C    D
0   A8   B8   C8   D8
1   A9   B9   C9   D9
2  A10  B10  C10  D10
3  A11  B11  C11  D11

#### 设置特定的键(keys)
有时候我们需要区分合并之后的DataFrame里， 哪些数据是来自df1的，哪些数据是来自df2的。  
这个时候我们可以给它们设置一个特定的键（key）， 相当于给它们起个名字， 这样我们就可以把它们区分开来了。

In [25]:
# 连接df1，df2，df3
df_concat1 = pd.concat([df1,df2,df3],keys=['df1','df2'])
df_concat1

        A   B   C   D
df1 0  A0  B0  C0  D0
    1  A1  B1  C1  D1
    2  A2  B2  C2  D2
    3  A3  B3  C3  D3
df2 0  A4  B4  C4  D4
    1  A5  B5  C5  D5
    2  A6  B6  C6  D6
    3  A7  B7  C7  D7

In [26]:
# 仍然可以通过loc读取任意一个子dataframe
df_concat1.loc['df2']

    A   B   C   D
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

## 数据变换

### replace
若需要将数据按照一定的映射关系进行替换，使用**replace()**。多个值的替换可以用**列表**，少数的值可以用包含映射关系的**字典**。

In [9]:
data = pd.DataFrame({'A':[0, 1, 2, 3, 4],
                   'B':[5, 6, 7, 8, 9],
                   'C':['a', 'b', 'c', 'd', 'e']})
data

   A  B  C
0  0  5  a
1  1  6  b
2  2  7  c
3  3  8  d
4  4  9  e

#### 直接替换
* 重新赋值或需设置**inplace=True**

#### 整数类型

In [12]:
# 直接将data中的0替换为1000
data.replace(0,50,inplace=True)
data

    A  B  C
0  50  5  a
1   1  6  b
2   2  7  c
3   3  8  d
4   4  9  e

#### 字符串类型

In [13]:
data1 = pd.DataFrame(
        {
            '名称':['<a>产品1','<a>产品2','<a>产品3'],
            '数量':['A','0.7','0.8'],
            '金额':['0','0.48','0.33'],
            '合计':['D','0.37','0.2'],
        }        
        )
data1

       名称   数量    金额    合计
0  <a>产品1    A     0     D
1  <a>产品2  0.7  0.48  0.37
2  <a>产品3  0.8  0.33   0.2

In [15]:
# 想把前面多余的‘<a>’给去掉,但执行代码后无效
data1_copy = data1.copy()							#备份
data1['名称'].replace('<a>','',inplace=True)	#replace函数需要重新赋值才是真正生效，不然的话要加个inplace=True
data1

       名称   数量    金额    合计
0  <a>产品1    A     0     D
1  <a>产品2  0.7  0.48  0.37
2  <a>产品3  0.8  0.33   0.2

In [18]:
# 不能直接调用replace()，需要转为字符串，才可以对元素的部分内容进行修改
# 原因是直接调用replace()是替换整个元素，要对某个元素的部分进行修改，就必须转成字符串，来实现字符串部分替换
data1_copy = data1.copy()
data1.名称 = data1['名称'].str.replace('<a>','')
data1

    名称   数量    金额    合计
0  产品1    A     0     D
1  产品2  0.7  0.48  0.37
2  产品3  0.8  0.33   0.2

### 列表替换

In [34]:
data2 = pd.DataFrame({'A':[0, 1, 2, 3, 4],
                   'B':[5, 6, 7, 8, 9],
                   'C':['a', 'b', 'c', 'd', 'e']})
data2

   A  B  C
0  0  5  a
1  1  6  b
2  2  7  c
3  3  8  d
4  4  9  e

In [24]:
# 0~4替换为4
data2.replace([0,1,2,3,4],4,inplace=True)
data2

   A  B  C
0  4  5  a
1  4  6  b
2  4  7  c
3  4  8  d
4  4  9  e

In [28]:
data2.replace([0,1,2,3,4],[1,10,20,30,40],inplace=True)
data2

    A  B  C
0   1  5  a
1  10  6  b
2  20  7  c
3  30  8  d
4  40  9  e

### 字典替换
to_replace指需要替换的值，value指要替换成的新值

In [42]:
data2 = pd.DataFrame({'A':[0, 1, 2, 3, 4],
                   'B':[5, 0, 7, 1, 9],
                   'C':[0, 1, 2, 1, 0]})
data2

   A  B  C
0  0  5  0
1  1  0  1
2  2  7  2
3  3  1  1
4  4  9  0

In [33]:
# 全表替换
data2.replace({0:100,1:2000},inplace=True)
data2

      A     B     C
0   100     5   100
1  2000   100  2000
2     2     7     2
3     3  2000  2000
4     4     9   100

In [43]:
data2

   A  B  C
0  0  5  0
1  1  0  1
2  2  7  2
3  3  1  1
4  4  9  0

#### 特定列替换

In [44]:
data2_copy = data2.copy()
data2.replace({'A':0,'B':0},value=5000,inplace=True)
data2

      A     B  C
0  5000     5  0
1     1  5000  1
2     2     7  2
3     3     1  1
4     4     9  0

In [45]:
data2_copy

   A  B  C
0  0  5  0
1  1  0  1
2  2  7  2
3  3  1  1
4  4  9  0

####　单列替换

In [48]:
data2_copy.replace({'A':{0:100,1:200}},inplace=True)   # 主义双层字典
data2_copy

     A  B  C
0  100  5  0
1  200  0  1
2    2  7  2
3    3  1  1
4    4  9  0

### apply
将一个自定义函数作用于DataFrame的行或列，也可以用作Series，默认为行
DataFrame.apply(func, axis=0, raw=False, result_type=None, args=(), **kwargs)
|参数|说明|
|:--------|:--------|
|func|应用于每一列或每一行的函数|
|axis|{0 或 ‘index’，1 或 ‘columns’}，默认 0|
|raw|默认为 False,确定行或列是否作为 Series 或 ndarray 对象传递,False ：将每一行或每一列作为系列传递给函数|
|result_type：{‘expand’, ‘reduce’, ‘broadcast’, 无}|默认无;这些仅在axis=1(列)时起作用;‘expand’:list-like 结果将转换为列,boadcast,改变原df,reduce返回一个序列非list|
|args：元组|除了数组/系列之外，要传递给 func 的位置参数|
|**kwargs|附加关键字参数作为关键字参数传递给 func|
|返回|Series或DataFrame;沿 DataFrame 的给定轴应用func 的结果|

In [63]:
data = pd.DataFrame([[4,9]]*3, columns=['A','B'])
data

   A  B
0  4  9
1  4  9
2  4  9

In [52]:
import numpy as np

#### 默认按列

In [64]:
# 默认按列运用,返回的是dataframe
data = data.apply(np.sqrt)
data

     A    B
0  2.0  3.0
1  2.0  3.0
2  2.0  3.0

#### axis=1按行

In [66]:
data1 = pd.DataFrame([[5,9]]*3, columns=['A','B'])
data1

   A  B
0  5  9
1  5  9
2  5  9

In [88]:
# 返回的是series
data1.apply(np.sum, axis=1)

0    14
1    14
2    14
dtype: int64

In [89]:
data2 = pd.DataFrame([[5,9,4]]*3, columns=['A','B','C'])
data2

   A  B  C
0  5  9  4
1  5  9  4
2  5  9  4

#### expand将产生的list-like结果扩展到df的列
列名为df的列名

In [90]:
# 返回的是dataframe,列名为index
data2.apply(lambda x:[1,2,3], result_type='expand', axis=1)

   0  1  2
0  1  2  3
1  1  2  3
2  1  2  3

In [91]:
# 返回的是dataframe,列名为原始列名
data2.apply(lambda x: [1, 2,3], axis=1, result_type='broadcast')

   A  B  C
0  1  2  3
1  1  2  3
2  1  2  3

#### 直接作用于series/某一列

In [111]:
np.array(12)

array(12)

In [115]:
df = pd.DataFrame(np.arange(12).reshape(3,4),columns=['one','two','three','four'])
df

   one  two  three  four
0    0    1      2     3
1    4    5      6     7
2    8    9     10    11

In [116]:
df['one'].apply(lambda x : np.log(x))

0        -inf
1    1.386294
2    2.079442
Name: one, dtype: float64

#### 直接作用于某两列

In [126]:
df

   one  two  three  four
0    0    1      2     3
1    4    5      6     7
2    8    9     10    11

In [128]:
df.apply(lambda row:row['two']-row['one'],axis=1)

0    1
1    1
2    1
dtype: int32

#### 直接作用于某一行

In [120]:
df.iloc[1]

one      4
two      5
three    6
four     7
Name: 1, dtype: int32

In [119]:
df.iloc[1].apply(lambda x : x**2)

one      16
two      25
three    36
four     49
Name: 1, dtype: int64

### applymap
DataFrame.applymap(func, na_action=None, **kwargs)
|参数|解释|
|:---|:---|
|func|函数|
|na_action|若为None或ignore,func不会作用于空值,默认为None|
|**kwargs|作为关键字参数传递给func的其他关键字参数|

#### 直接变换

In [97]:
df = pd.DataFrame([[1, 2.12], [3.356, 4.567]])
df

       0      1
0  1.000  2.120
1  3.356  4.567

In [96]:
# 将df的换位每一个元素的长度;
# 注意:字符串中,小数点也算作一个长度
df.applymap(lambda x: len(str(x)))

   0  1
0  3  4
1  5  5

#### 空值不替换

In [107]:
df_copy = df.copy()
df_copy.iloc[0, 0] = pd.NA
df_copy.applymap(lambda x: len(str(x)), na_action='ignore')

      0  1
0  <NA>  4
1     5  5

### 数据映射map

In [131]:
df['five'] = ['kyb','kyb2','kyb3']
df

   one  two  three  four  five
0    0    1      2     3   kyb
1    4    5      6     7  kyb2
2    8    9     10    11  kyb3

In [133]:
# five列首字母大写
df['five'].map(str.title)

0     Kyb
1    Kyb2
2    Kyb3
Name: five, dtype: object

### 数据转换transform
只可作用于一列 不能两列

In [134]:
# 作用于一列
df['one'].transform(lambda x:x+1)

0    1
1    5
2    9
Name: one, dtype: int64

In [135]:
# 可以是func列表
df['one'].transform([np.sin,np.cos])

        sin       cos
0  0.000000  1.000000
1 -0.756802 -0.653644
2  0.989358 -0.145500

## 数据预处理

### 缺失值

#### 查看缺失值

#### 填充缺失值

### 异常值

#### 查看异常值

#### 处理异常值

## 数据分组

In [2]:
import pandas as pd

### 导入数据

In [20]:
data = pd.read_excel('score.xlsx')
data.head(4)

,学年学期,课程名,总成绩,课程类别,课程性质,学分,学时,是否主修,考试日期,绩点,重修重考,等级成绩类型,开课单位
0,2021-2022学年 第一学期,英语应用能力训练与提高（雅思）,70.0,通识选修,选修课,2.0,30.0,是,2022-03-18,2.0,初修,百分制,校际
1,2020-2021学年 小学期,军训,95.0,其他类,必修课,2.0,80.0,是,2021-07-11,4.5,初修,五级制,学生处
2,2020-2021学年 第一学期,C语言程序设计A,90.0,通识理论必修,必修课,4.0,64.0,是,2020-12-21,4.0,初修,百分制,计算中心
3,2020-2021学年 第一学期,大学生安全知识教育,86.0,其他类,必修课,1.0,20.0,是,2020-12-21,3.6,初修,百分制,安稳处

### 查看某一列有哪些字段
unique

In [5]:
data.课程性质.unique()

array(['选修课', '必修课'], dtype=object)

In [6]:
data.开课单位.unique()

array(['校际', '学生处', '计算中心', '安稳处', '体育部', '外国语学院', '马克思主义学院', '理学院',
       '信息管理学院', '经济管理学院', '信息与通信工程学院', '计算机学院'], dtype=object)

In [7]:
data.学年学期.unique()

array(['2021-2022学年 第一学期', '2020-2021学年 小学期', '2020-2021学年 第一学期',
       '2020-2021学年 第二学期', '2021-2022学年 第二学期', '2021-2022学年 小学期',
       '2022-2023学年 第一学期'], dtype=object)

### 统计某一列字段的数量
value_counts

In [8]:
data['开课单位'].value_counts()

信息管理学院       28
马克思主义学院      12
外国语学院         6
理学院           5
学生处           4
体育部           4
校际            2
计算机学院         2
计算中心          1
安稳处           1
经济管理学院        1
信息与通信工程学院     1
Name: 开课单位, dtype: int64

### 分组groupby

#### 按照一个字段分

In [22]:
data1 = data.groupby(['开课单位'])

#### 按照多个key进行分组

In [23]:
data2 = data.groupby(['开课单位','课程类别'])

#### 查看分组结果

In [25]:
for i in data.groupby(['开课单位','课程类别']):
	print(i)

(('体育部', '通识理论必修'),                 学年学期      课程名   总成绩    课程类别 课程性质   学分    学时 是否主修        考试日期  \
5   2020-2021学年 第一学期  大学体育(1)  73.0  通识理论必修  必修课  1.0  32.0    是  2020-12-21
23  2020-2021学年 第二学期  大学体育(2)  87.0  通识理论必修  必修课  1.0  32.0    是  2021-06-01
34  2021-2022学年 第一学期  大学体育(3)  82.0  通识理论必修  必修课  1.0  32.0    是  2021-11-01
45  2021-2022学年 第二学期  大学体育(4)  93.0  通识理论必修  必修课  1.0  32.0    是  2022-05-02

     绩点 重修重考 等级成绩类型 开课单位
5   2.3   初修    百分制  体育部
23  3.7   初修    百分制  体育部
34  3.2   初修    百分制  体育部
45  4.3   初修    百分制  体育部  )
(('信息与通信工程学院', '通识选修'),                 学年学期        课程名   总成绩  课程类别 课程性质   学分    学时 是否主修        考试日期  \
22  2020-2021学年 第二学期  物联网与工业4.0  88.0  通识选修  选修课  2.0  32.0    是  2021-06-01

     绩点 重修重考 等级成绩类型       开课单位
22  3.8   初修    百分制  信息与通信工程学院  )
(('信息管理学院', '专业实践必修'),                 学年学期             课程名   总成绩    课程类别 课程性质   学分  学时 是否主修  \
56   2021-2022学年 小学期  Python数据分析基础实践  95.0  专业实践必修  必修课  2.0 NaN    是
61  2022-2023学年 第一学期       数据采集与处理实践  95.0  专业实践必修  必修课  1.0 NaN    是

          考试日期   绩点 重修重考 等级成绩类型    开课单位
56  2022-06-21  4.5   初修    百分制  信息管理学院
61  2022-11-07  4.5   初修    五级制  信息管理学院  )
(('信息管理学院', '专业理论必修'),                 学年学期           课程名   总成绩    课程类别 课程性质   学分    学时 是否主修  \
47  2021-2022学年 第二学期  Python数据分析基础  90.0  专业理论必修  必修课  2.5  40.0    是
49  2021-2022学年 第二学期       大数据技术基础  87.0  专业理论必修  必修课  2.5  40.0    是
60  2022-2023学年 第一学期       数据采集与处理  92.0  专业理论必修  必修课  2.0  32.0    是

          考试日期   绩点 重修重考 等级成绩类型    开课单位
47  2022-05-02  4.0   初修    百分制  信息管理学院
49  2022-06-16  3.7   初修    百分制  信息管理学院
60  2022-12-05  4.2   初修    百分制  信息管理学院  )
(('信息管理学院', '专业理论选修'),                 学年学期        课程名   总成绩    课程类别 课程性质   学分    学时 是否主修  \
42  2021-2022学年 第二学期       系统工程  93.0  专业理论选修  选修课  2.0  32.0    是
43  2021-2022学年 第二学期     生产运作管理  73.0  专业理论选修  选修课  2.5  40.0    是
62  2022-2023学年 第一学期  大数据营销(双语)  97.0  专业理论选修  选修课  2.0  32.0    是

          考试日期   绩点 重修重考 等级成绩类型    开课单位
42  2022-05-02  4.3   初修    百分制  信息管理学院
43  2022-05-02  2.3   初修    百分制  信息管理学院
62  2022-11-07  4.7   初修    百分制  信息管理学院  )
(('信息管理学院', '其他类'),                 学年学期 课程名   总成绩 课程类别 课程性质   学分    学时 是否主修        考试日期   绩点  \
50  2021-2022学年 第二学期  劳动  95.0  其他类  必修课  1.0  32.0    是  2022-05-02  4.5

   重修重考 等级成绩类型    开课单位
50   初修    五级制  信息管理学院  )
(('信息管理学院', '大数据辅修'),                 学年学期     课程名   总成绩   课程类别 课程性质   学分    学时 是否主修        考试日期  \
59  2022-2023学年 第一学期  大数据可视化  85.0  大数据辅修  选修课  1.0  16.0    否  2022-11-07

     绩点 重修重考 等级成绩类型    开课单位
59  3.5   初修    五级制  信息管理学院  )
(('信息管理学院', '学科实践必修'),                 学年学期               课程名   总成绩    课程类别 课程性质   学分  学时 是否主修  \
25   2020-2021学年 小学期  面向对象程序设计实践(Java)  96.0  学科实践必修  必修课  2.0 NaN    是
29  2021-2022学年 第一学期     操作系统(Linux)实践  95.0  学科实践必修  必修课  1.0 NaN    是
38  2021-2022学年 第一学期            数据结构实践  95.0  学科实践必修  必修课  1.0 NaN    是
41  2021-2022学年 第二学期             数据库设计  85.0  学科实践必修  必修课  1.0 NaN    是
58  2021-2022学年 第二学期           管理统计学实践  95.0  学科实践必修  必修课  1.0 NaN    是
64  2022-2023学年 第一学期           计算机网络实践  95.0  学科实践必修  必修课  1.0 NaN    是

          考试日期   绩点 重修重考 等级成绩类型    开课单位
25  2021-07-11  4.6   初修    百分制  信息管理学院
29  2021-11-01  4.5   初修    五级制  信息管理学院
38  2021-11-01  4.5   初修    五级制  信息管理学院
41  2022-05-02  3.5   初修    五级制  信息管理学院
58  2022-05-02  4.5   初修    百分制  信息管理学院
64  2022-11-07  4.5   初修    五级制  信息管理学院  )
(('信息管理学院', '学科理论必修'),                 学年学期             课程名   总成绩    课程类别 课程性质   学分    学时 是否主修  \
9   2020-2021学年 第一学期           管理学原理  96.0  学科理论必修  必修课  3.0  48.0    是
13  2020-2021学年 第一学期            专业导论  88.0  学科理论必修  必修课  1.0  16.0    是
19  2020-2021学年 第二学期  面向对象程序设计(Java)  92.0  学科理论必修  必修课  4.0  64.0    是
27  2021-2022学年 第一学期     操作系统(Linux)  91.0  学科理论必修  必修课  2.0  32.0    是
36  2021-2022学年 第一学期           微观经济学  88.0  学科理论必修  必修课  3.5  56.0    是
39  2021-2022学年 第一学期      数据结构(Java)  92.0  学科理论必修  必修课  4.0  64.0    是
44  2021-2022学年 第二学期           宏观经济学  88.0  学科理论必修  必修课  2.5  40.0    是
46  2021-2022学年 第二学期            运筹学I  87.0  学科理论必修  必修课  4.0  64.0    是
52  2021-2022学年 第二学期         数据库系统基础  84.0  学科理论必修  必修课  3.5  56.0    是
54  2021-2022学年 第二学期           管理统计学  86.0  学科理论必修  必修课  3.0  48.0    是
63  2022-2023学年 第一学期         预测方法与技术  88.0  学科理论必修  必修课  2.5  40.0    是
65  2022-2023学年 第一学期           计算机网络  90.0  学科理论必修  必修课  2.5  40.0    是

          考试日期   绩点 重修重考 等级成绩类型    开课单位
9   2020-12-21  4.6   初修    百分制  信息管理学院
13  2020-12-21  3.8   初修    百分制  信息管理学院
19  2021-06-22  4.2   初修    百分制  信息管理学院
27  2021-12-10  4.1   初修    百分制  信息管理学院
36  2022-01-04  3.8   初修    百分制  信息管理学院
39  2022-01-14  4.2   初修    百分制  信息管理学院
44  2022-06-14  3.8   初修    百分制  信息管理学院
46  2022-06-17  3.7   初修    百分制  信息管理学院
52  2022-06-13  3.4   初修    百分制  信息管理学院
54  2022-06-17  3.6   初修    百分制  信息管理学院
63  2022-12-12  3.8   初修    百分制  信息管理学院
65  2022-12-13  4.0   初修    百分制  信息管理学院  )
(('外国语学院', '通识理论必修'),                 学年学期      课程名   总成绩    课程类别 课程性质   学分    学时 是否主修        考试日期  \
6   2020-2021学年 第一学期  大学英语(3)  90.0  通识理论必修  必修课  4.0  64.0    是  2020-12-21
21  2020-2021学年 第二学期  大学英语(4)  80.0  通识理论必修  必修课  4.0  64.0    是  2021-06-23
30  2021-2022学年 第一学期   高级英语听说  97.0  通识理论必修  必修课  2.0  32.0    是  2021-11-01
55  2021-2022学年 第二学期     学术英语  98.0  通识理论必修  必修课  2.0  32.0    是  2022-06-15

     绩点 重修重考 等级成绩类型   开课单位
6   4.0   初修    百分制  外国语学院
21  3.0   初修    百分制  外国语学院
30  4.7   初修    百分制  外国语学院
55  4.8   初修    百分制  外国语学院  )
(('外国语学院', '通识选修'),                 学年学期   课程名  总成绩  课程类别 课程性质   学分    学时 是否主修        考试日期   绩点  \
16  2020-2021学年 第二学期  英语四级  0.0  通识选修  选修课  2.0  32.0    是  2021-06-01  0.0
28  2021-2022学年 第一学期  英语四级  0.0  通识选修  选修课  2.0  32.0    是  2021-11-01  0.0

   重修重考 等级成绩类型   开课单位
16   初修    百分制  外国语学院
28   重修    百分制  外国语学院  )
(('学生处', '其他类'),                 学年学期      课程名   总成绩 课程类别 课程性质   学分    学时 是否主修        考试日期  \
1    2020-2021学年 小学期       军训  95.0  其他类  必修课  2.0  80.0    是  2021-07-11
4   2020-2021学年 第一学期  大学生心理健康  98.0  其他类  必修课  2.0  32.0    是  2020-12-21
17  2020-2021学年 第二学期  大学生职业规划  99.0  其他类  必修课  1.0  24.0    是  2021-06-01
35  2021-2022学年 第一学期     军事理论  98.0  其他类  必修课  2.0  32.0    是  2021-11-01

     绩点 重修重考 等级成绩类型 开课单位
1   4.5   初修    五级制  学生处
4   4.8   初修    百分制  学生处
17  4.9   初修    百分制  学生处
35  4.8   初修    百分制  学生处  )
(('安稳处', '其他类'),                学年学期        课程名   总成绩 课程类别 课程性质   学分    学时 是否主修        考试日期  \
3  2020-2021学年 第一学期  大学生安全知识教育  86.0  其他类  必修课  1.0  20.0    是  2020-12-21

    绩点 重修重考 等级成绩类型 开课单位
3  3.6   初修    百分制  安稳处  )
(('校际', '通识选修'),                 学年学期              课程名   总成绩  课程类别 课程性质   学分    学时 是否主修  \
0   2021-2022学年 第一学期  英语应用能力训练与提高（雅思）  70.0  通识选修  选修课  2.0  30.0    是
66  2020-2021学年 第二学期            健康免疫学  90.0  通识选修  选修课  1.5  24.0    是

          考试日期   绩点 重修重考 等级成绩类型 开课单位
0   2022-03-18  2.0   初修    百分制   校际
66  2021-06-01  4.0   初修    百分制   校际  )
(('理学院', '学科理论必修'),                 学年学期        课程名   总成绩    课程类别 课程性质   学分    学时 是否主修  \
15  2020-2021学年 第二学期      线性代数A  88.0  学科理论必修  必修课  3.0  48.0    是
32  2021-2022学年 第一学期  概率论与数理统计A  85.0  学科理论必修  必修课  3.0  48.0    是

          考试日期   绩点 重修重考 等级成绩类型 开课单位
15  2021-06-25  3.8   初修    百分制  理学院
32  2022-01-07  3.5   初修    百分制  理学院  )
(('理学院', '通识理论必修'),                 学年学期       课程名   总成绩    课程类别 课程性质   学分    学时 是否主修        考试日期  \
8   2020-2021学年 第一学期  高等数学A(1)  91.0  通识理论必修  必修课  6.0  96.0    是  2020-12-21
20  2020-2021学年 第二学期  高等数学A(2)  95.0  通识理论必修  必修课  5.0  80.0    是  2021-06-22

     绩点 重修重考 等级成绩类型 开课单位
8   4.1   初修    百分制  理学院
20  4.5   初修    百分制  理学院  )
(('理学院', '通识选修'),                 学年学期   课程名   总成绩  课程类别 课程性质   学分    学时 是否主修        考试日期   绩点  \
48  2021-2022学年 第二学期  数学建模  62.0  通识选修  选修课  2.0  32.0    是  2022-05-02  1.2

   重修重考 等级成绩类型 开课单位
48   初修    百分制  理学院  )
(('经济管理学院', '通识选修'),                 学年学期       课程名   总成绩  课程类别 课程性质   学分    学时 是否主修        考试日期  \
11  2020-2021学年 第一学期  现代企业管理概论  85.0  通识选修  选修课  1.5  24.0    是  2020-12-21

     绩点 重修重考 等级成绩类型    开课单位
11  3.5   初修    五级制  经济管理学院  )
(('计算中心', '通识理论必修'),                学年学期       课程名   总成绩    课程类别 课程性质   学分    学时 是否主修        考试日期  \
2  2020-2021学年 第一学期  C语言程序设计A  90.0  通识理论必修  必修课  4.0  64.0    是  2020-12-21

    绩点 重修重考 等级成绩类型  开课单位
2  4.0   初修    百分制  计算中心  )
(('计算机学院', '大数据辅修'),                 学年学期        课程名   总成绩   课程类别 课程性质   学分    学时 是否主修        考试日期  \
40  2021-2022学年 第二学期  大数据平台技术实践  33.0  大数据辅修  选修课  1.5  24.0    否  2022-05-02
51  2021-2022学年 第二学期      大数据概论   4.0  大数据辅修  选修课  2.0  32.0    否  2022-05-02

     绩点 重修重考 等级成绩类型   开课单位
40  0.0   初修    百分制  计算机学院
51  0.0   初修    百分制  计算机学院  )
(('马克思主义学院', '其他类'),                 学年学期        课程名   总成绩 课程类别 课程性质   学分   学时 是否主修        考试日期  \
12  2020-2021学年 第一学期  形势与政策课(1)  89.0  其他类  必修课  0.0  8.0    是  2020-12-21
14  2020-2021学年 第二学期  形势与政策课(2)  87.0  其他类  必修课  0.0  8.0    是  2021-06-01
31  2021-2022学年 第一学期  形势与政策课(3)  97.0  其他类  必修课  0.0  8.0    是  2021-11-01
57  2021-2022学年 第二学期  形势与政策课(4)  94.0  其他类  必修课  0.0  8.0    是  2022-05-02

     绩点 重修重考 等级成绩类型     开课单位
12  3.9   初修    百分制  马克思主义学院
14  3.7   初修    百分制  马克思主义学院
31  4.7   初修    百分制  马克思主义学院
57  4.4   初修    百分制  马克思主义学院  )
(('马克思主义学院', '通识实践必修'),                 学年学期          课程名   总成绩    课程类别 课程性质   学分  学时 是否主修  \
53  2021-2022学年 第二学期  思想政治理论课综合实践  97.0  通识实践必修  必修课  2.0 NaN    是

          考试日期   绩点 重修重考 等级成绩类型     开课单位
53  2022-05-02  4.7   初修    百分制  马克思主义学院  )
(('马克思主义学院', '通识理论必修'),                 学年学期                   课程名   总成绩    课程类别 课程性质   学分    学时 是否主修  \
10  2020-2021学年 第一学期           思想道德修养与法律基础  97.0  通识理论必修  必修课  3.0  48.0    是
24  2020-2021学年 第二学期              中国近现代史纲要  88.0  通识理论必修  必修课  3.0  48.0    是
26  2020-2021学年 第二学期    习近平新时代中国特色社会主义思想概论  90.0  通识理论必修  必修课  2.0  32.0    是
33  2021-2022学年 第一学期  毛泽东思想和中国特色社会主义理论体系概论  96.0  通识理论必修  必修课  3.0  48.0    是
37  2021-2022学年 第一学期           马克思主义基本原理概论  93.0  通识理论必修  必修课  3.0  48.0    是

          考试日期   绩点 重修重考 等级成绩类型     开课单位
10  2020-12-21  4.7   初修    百分制  马克思主义学院
24  2021-06-23  3.8   初修    百分制  马克思主义学院
26  2021-06-01  4.0   初修    百分制  马克思主义学院
33  2022-01-08  4.6   初修    百分制  马克思主义学院
37  2022-01-04  4.3   初修    百分制  马克思主义学院  )
(('马克思主义学院', '通识选修'),                 学年学期      课程名   总成绩  课程类别 课程性质   学分    学时 是否主修        考试日期  \
7   2020-2021学年 第一学期     二战简史  78.0  通识选修  选修课  1.5  24.0    是  2020-12-21
18  2020-2021学年 第二学期  房地产法律制度  90.0  通识选修  选修课  2.0  32.0    是  2021-06-01

     绩点 重修重考 等级成绩类型     开课单位
7   2.8   初修    百分制  马克思主义学院
18  4.0   初修    百分制  马克思主义学院  )

#### 取分组元素

##### 方法一：先转为list，再下标取值

In [26]:
list(data.groupby(['开课单位','课程类别']))[1]

(('信息与通信工程学院', '通识选修'),
                 学年学期        课程名   总成绩  课程类别 课程性质   学分    学时 是否主修        考试日期  \
 22  2020-2021学年 第二学期  物联网与工业4.0  88.0  通识选修  选修课  2.0  32.0    是  2021-06-01

      绩点 重修重考 等级成绩类型       开课单位
 22  3.8   初修    百分制  信息与通信工程学院  )

##### 方法二：先转为dict后取出相应的key值

In [34]:
dict(list(data.groupby(['开课单位'])))['马克思主义学院']

,学年学期,课程名,总成绩,课程类别,课程性质,学分,学时,是否主修,考试日期,绩点,重修重考,等级成绩类型,开课单位
7,2020-2021学年 第一学期,二战简史,78.0,通识选修,选修课,1.5,24.0,是,2020-12-21,2.8,初修,百分制,马克思主义学院
10,2020-2021学年 第一学期,思想道德修养与法律基础,97.0,通识理论必修,必修课,3.0,48.0,是,2020-12-21,4.7,初修,百分制,马克思主义学院
12,2020-2021学年 第一学期,形势与政策课(1),89.0,其他类,必修课,0.0,8.0,是,2020-12-21,3.9,初修,百分制,马克思主义学院
14,2020-2021学年 第二学期,形势与政策课(2),87.0,其他类,必修课,0.0,8.0,是,2021-06-01,3.7,初修,百分制,马克思主义学院
18,2020-2021学年 第二学期,房地产法律制度,90.0,通识选修,选修课,2.0,32.0,是,2021-06-01,4.0,初修,百分制,马克思主义学院
24,2020-2021学年 第二学期,中国近现代史纲要,88.0,通识理论必修,必修课,3.0,48.0,是,2021-06-23,3.8,初修,百分制,马克思主义学院
26,2020-2021学年 第二学期,习近平新时代中国特色社会主义思想概论,90.0,通识理论必修,必修课,2.0,32.0,是,2021-06-01,4.0,初修,百分制,马克思主义学院
31,2021-2022学年 第一学期,形势与政策课(3),97.0,其他类,必修课,0.0,8.0,是,2021-11-01,4.7,初修,百分制,马克思主义学院
33,2021-2022学年 第一学期,毛泽东思想和中国特色社会主义理论体系概论,96.0,通识理论必修,必修课,3.0,48.0,是,2022-01-08,4.6,初修,百分制,马克思主义学院
37,2021-2022学年 第一学期,马克思主义基本原理概论,93.0,通识理论必修,必修课,3.0,48.0,是,2022-01-04,4.3,初修,百分制,马克思主义学院
53,2021-2022学年 第二学期,思想政治理论课综合实践,97.0,通识实践必修,必修课,2.0,NaN,是,2022-05-02,4.7,初修,百分制,马克思主义学院
57,2021-2022学年 第二学期,形势与政策课(4),94.0,其他类,必修课,0.0,8.0,是,2022-05-02,4.4,初修,百分制,马克思主义学院

##### 方法三：利用**get_group(key)**方法取值

In [29]:
data.groupby(['开课单位']).get_group('计算中心')

,学年学期,课程名,总成绩,课程类别,课程性质,学分,学时,是否主修,考试日期,绩点,重修重考,等级成绩类型,开课单位
2,2020-2021学年 第一学期,C语言程序设计A,90.0,通识理论必修,必修课,4.0,64.0,是,2020-12-21,4.0,初修,百分制,计算中心

### 按照数据类型分组

In [37]:
data.dtypes

学年学期       object
课程名        object
总成绩       float64
课程类别       object
课程性质       object
学分        float64
学时        float64
是否主修       object
考试日期       object
绩点        float64
重修重考       object
等级成绩类型     object
开课单位       object
dtype: object

In [31]:
for k,v in data.groupby(data.dtypes,axis=1):
    print(k)
    print(v)

float64
     总成绩   学分    学时   绩点
0   70.0  2.0  30.0  2.0
1   95.0  2.0  80.0  4.5
2   90.0  4.0  64.0  4.0
3   86.0  1.0  20.0  3.6
4   98.0  2.0  32.0  4.8
..   ...  ...   ...  ...
62  97.0  2.0  32.0  4.7
63  88.0  2.5  40.0  3.8
64  95.0  1.0   NaN  4.5
65  90.0  2.5  40.0  4.0
66  90.0  1.5  24.0  4.0

[67 rows x 4 columns]
object
                学年学期              课程名    课程类别 课程性质 是否主修        考试日期 重修重考  \
0   2021-2022学年 第一学期  英语应用能力训练与提高（雅思）    通识选修  选修课    是  2022-03-18   初修
1    2020-2021学年 小学期               军训     其他类  必修课    是  2021-07-11   初修
2   2020-2021学年 第一学期         C语言程序设计A  通识理论必修  必修课    是  2020-12-21   初修
3   2020-2021学年 第一学期        大学生安全知识教育     其他类  必修课    是  2020-12-21   初修
4   2020-2021学年 第一学期          大学生心理健康     其他类  必修课    是  2020-12-21   初修
..               ...              ...     ...  ...  ...         ...  ...
62  2022-2023学年 第一学期        大数据营销(双语)  专业理论选修  选修课    是  2022-11-07   初修
63  2022-2023学年 第一学期          预测方法与技术  学科理论必修  必修课    是  2022-12-12   初修
64  2022-2023学年 第一学期          计算机网络实践  学科实践必修  必修课    是  2022-11-07   初修
65  2022-2023学年 第一学期            计算机网络  学科理论必修  必修课    是  2022-12-13   初修
66  2020-2021学年 第二学期            健康免疫学    通识选修  选修课    是  2021-06-01   初修

   等级成绩类型    开课单位
0     百分制      校际
1     五级制     学生处
2     百分制    计算中心
3     百分制     安稳处
4     百分制     学生处
..    ...     ...
62    百分制  信息管理学院
63    百分制  信息管理学院
64    五级制  信息管理学院
65    百分制  信息管理学院
66    百分制      校际

[67 rows x 9 columns]

### 分组中常用的聚合函数

#### 最大最小等

In [49]:
# 取出按学时分组下的各字段的最大值
data.groupby('学时').max()

,学年学期,课程名,总成绩,课程类别,课程性质,学分,是否主修,考试日期,绩点,重修重考,等级成绩类型,开课单位
学时,,,,,,,,,,,,
8.0,2021-2022学年 第二学期,形势与政策课(4),97.0,其他类,必修课,0.0,是,2022-05-02,4.7,初修,百分制,马克思主义学院
16.0,2022-2023学年 第一学期,大数据可视化,88.0,学科理论必修,选修课,1.0,是,2022-11-07,3.8,初修,百分制,信息管理学院
20.0,2020-2021学年 第一学期,大学生安全知识教育,86.0,其他类,必修课,1.0,是,2020-12-21,3.6,初修,百分制,安稳处
24.0,2021-2022学年 第二学期,现代企业管理概论,99.0,通识选修,选修课,1.5,是,2022-05-02,4.9,初修,百分制,马克思主义学院
30.0,2021-2022学年 第一学期,英语应用能力训练与提高（雅思）,70.0,通识选修,选修课,2.0,是,2022-03-18,2.0,初修,百分制,校际
32.0,2022-2023学年 第一学期,高级英语听说,98.0,通识选修,选修课,2.0,是,2022-12-05,4.8,重修,百分制,马克思主义学院
40.0,2022-2023学年 第一学期,预测方法与技术,90.0,学科理论必修,选修课,2.5,是,2022-12-13,4.0,初修,百分制,信息管理学院
48.0,2021-2022学年 第二学期,马克思主义基本原理概论,97.0,通识理论必修,必修课,3.0,是,2022-06-17,4.7,初修,百分制,马克思主义学院
56.0,2021-2022学年 第二学期,数据库系统基础,88.0,学科理论必修,必修课,3.5,是,2022-06-13,3.8,初修,百分制,信息管理学院
64.0,2021-2022学年 第二学期,面向对象程序设计(Java),92.0,通识理论必修,必修课,4.0,是,2022-06-17,4.2,初修,百分制,计算中心
80.0,2020-2021学年 第二学期,高等数学A(2),95.0,通识理论必修,必修课,5.0,是,2021-07-11,4.5,初修,百分制,理学院
96.0,2020-2021学年 第一学期,高等数学A(1),91.0,通识理论必修,必修课,6.0,是,2020-12-21,4.1,初修,百分制,理学院

In [54]:
data['课程性质'].value_counts()

必修课    52
选修课    15
Name: 课程性质, dtype: int64

In [92]:
data_gpa_1 = data.groupby(['课程类别']).get_group('通识理论必修')[['学分','绩点']]
data_gpa_2 = data.groupby(['课程类别']).get_group('通识实践必修')[['学分','绩点']]
data_gpa_3 = data.groupby(['课程类别']).get_group('学科理论必修')[['学分','绩点']]
data_gpa_4 = data.groupby(['课程类别']).get_group('学科实践必修')[['学分','绩点']]
data_gpa_5 = data.groupby(['课程类别']).get_group('专业理论必修')[['学分','绩点']]
data_gpa_6 = data.groupby(['课程类别']).get_group('专业实践必修')[['学分','绩点']]

In [94]:
# 纵向连接df1和df2
df_contact = pd.concat([data_gpa_1,data_gpa_2,data_gpa_3,data_gpa_4,data_gpa_5,data_gpa_6],ignore_index=True)  # 参数是一个列表

In [66]:
def gpa(credits,gpa):
    sum_grade_point = sum(credits*gpa)
    return sum_grade_point / sum(credits)

In [95]:
gpa(df_contact.学分,df_contact.绩点)

4.039336492890995

# 数据可视化